body {
    display: flex;
}
.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 60px;
    left: -200px;
    background-color: #198d9c;
    padding-top: 20px;
    padding-left: 20px;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.sidebar a:hover {
    background-color: #1abc9c;
}
.sidebar table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

.sidebar th,
.sidebar td {
    padding: 1px; 
    font-size: 14px; 
}
.content {
    margin-top: 20px;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s;
}
.topnav {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fbd321;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ffcc33; /* Suitable hover background color */
}
.logo {
    margin-right: 30px;
}
.search-bar {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.search-bar input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.topnav button {
    appearance: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

#menuBtn {
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-right: 20px;
}
.sidebar-open .sidebar {
    left: 0;
}
.sidebar-open .content {
    margin-left: 200px;
}

.sidebar .logout {
    color: white;
    padding: 10px;
    text-decoration: none;
}
.sidebar .logout:hover {
    background-color: #1abc9c;
}

